/* Home Section */
.home {
  background-color: #f9f5eb;
  padding: 4rem 0;
  text-align: center;
  margin-top: 150px;
}
.home-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-text {
  flex: 1 1 40%;
  max-width: 100%;
  text-align: left;
  padding-right: 2rem;
}
.home-text h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  word-spacing: 10px;
  color: #161853;
}
.home-text h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #888;
}
.home-text p {
  font-size: 25px;
  font-weight: 600;
  word-spacing: 15px;
  margin-bottom: 3.5rem;
}
.home-image {
  flex: 1 1 40%;
  max-width: 100%;
}
.home-image img {
  width: 100%;
} 

/* Story Section */
.story {
  background-color: #e4dccf;
  padding: 4rem 0;
  text-align: center;
  margin-top: 70px;
}
.story-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.story-image {
  flex: 1 1 60%;
  max-width: 100%;
}
.story-image img {
  width: 100%;
}
.story-text {
  flex: 1 1 40%;
  max-width: 100%;
  text-align: left;
  padding-left: 2rem;
}
.story-text h3 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  word-spacing: 10px;
  color: #161853;
}
.story-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
} 

/* Episodes Section */
.episodes {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
  word-spacing: 10px;
  text-align: center;
  color: #161853;
  background-color: #f9f5eb;
}
.spotify-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.spotify-player iframe {
  width: 100%;
  max-width: 3500px;
  height: 380px;
  margin-bottom: 1rem;
} 

/* Responsive Styles Story */
@media screen and (max-width: 768px) {
  .story-content {
    flex-direction: column;
  }
  .story-image,
  .story-text {
    flex: 1 1 100%;
    max-width: 100%;
  }
} 

/* Responsive Styles Home */
@media screen and (max-width: 768px) {
  .home-content {
    flex-direction: column;
  }
  .home-text,
  .home-image {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
